hr {
    margin: 10px 0px;
}

.calender-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: #383737;
}

.date-container {
    margin-bottom: 15px;
}

.main-section {
    border-radius: 8px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
    padding: 30px;
}

.date-container h1 {
    color: #383737;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.date-container h6 span {
    color: #121212;
    font-size: 1rem;
    padding: 0 10px;
}

.date-container h6 span:first-child {
    border-right: 2px solid #a5a5a5;
}

.left-con {
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3); */
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
    background: #f5f5f5;
}

.star-cards,
.vudhaya-section {
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    background: #fff;
    /* min-width: auto; */
    /* border:2px solid orange; */
}


.vudhaya-section {
    flex-grow: 1;
}

.good-time {
    width: 100%;
    border: 2px solid #c7c7c7;
    border-radius: 8px;
    /* background: #fff; */
}

.star-cards {
    width: auto;
}

.star-cards>p {
    padding: 10px;
}

.good-time h5 {
    background: #64a538 !important;
}

.good-time h5,
.star-cards h5,
.vudhaya-section h5 {
    background: #e92227;
    margin: 0;
    padding: 8px 0px;
    color: #fff;
    /* border-radius: 5px 5px 0 0; */
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

.good-time p,
.star-cards p,
.vudhaya-section p {
    text-align: center;
    color: #707070;
    font-size: 12px;
    margin: 4px 0px !important;
}

.clock-icon {
    font-size: 50px;
    color: #e92227;
}

.calender-time {
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 0px;
    /* min-width: 180px; */
    text-align: center;
    margin: 0px 5px;
}

.calender-time h5,
.good-time h5 {
    font-size: 14px;
    padding: 4px 0px;
    color: #363636;
    font-weight: 700;
    margin: 0px;
}

.calender-time div,
.calender-time time {
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    padding: 0px;
    margin: 0px !important;
}

.calender-time-desc {
    margin: 2px 0px;
}

.star-container {
    margin-bottom: 10px;
    /* width:auto; */
    /* flex-grow:1; */
}

.star-cards-bg h5 {
    background-color: #e37221 !important;
    font-weight: bold;
}

.star-cards h5 {
    background-color: #dd8d37;
}

.star-card-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .star-card-flex {
        width: 100%;
        height: unset;
    }
}

.horai-grid {
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
    border: .5px solid #aaa;
    margin: 5px 20px;
    padding: 0;
}

.horai-grid div:first-child {
    border-radius: 4px 0px 0px 4px;
    background-color: #aaa;
    min-width: 100px;
    height: 49px;
    color: #fff;
}

.horai-grid div:first-child p {
    color: white;
    font-size: 12px;
}

.horai-grid .horai-child {
    width: 100px;
    font-size: 12px;
    color: #707070;
    font-weight: 500;
}



@media (max-width: 992px) {
    .calender-title {
        font-size: 1.3rem;
    }

    .date-container h1 {
        font-size: 3rem;
    }

    .time-container {
        /* flex-direction: column; */
        /* border:2px solid orange; */
    }

    .sec-2 {
        flex-wrap: wrap;
    }

    .star-cards {
        /* width:90%; */
    }

    .good-time,
    .vudhaya-section {
        /* min-width: 100%; */
    }

    .vudhaya-section {
        margin-bottom: 3px;
    }

    .left-con {
        padding: 10px;
    }

    .calender-time {
        /* min-width: 100%; */
        margin-bottom: 10px;
    }

    .star-cards h5 {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .calender-title {
        font-size: 1.1rem;
    }

    .date-container h1 {
        font-size: 2.5rem;
    }

    .date-container h6 span {
        font-size: 14px;
    }

    .left-con {
        padding: 8px;
    }

    .horai-grid {
        flex-direction: row;
    }

    .good-time h5 {
        font-size: 12px;
    }

    .vudhaya-section h5 {
        font-size: 12px;

    }

    .calender-time h5 {
        font-size: 12px;
    }
}


.day_calendar.arrows {
    position: absolute;
    top: 4%;
    width: 90%;
    margin: auto;
}

@media (max-width: 992px) {
    .day_calendar.arrows {
        position: absolute;
        top: 0%;
        width: 100%;
    }
}

/* .day_calendar .arrow-wrapper{
    position: relative;
} */

.day_calendar.arrows .left-arrow {
    position: absolute;
    left: 0;
    /* left: -24px; */
}

.day_calendar.arrows .left-arrow span,
.day_calendar.arrows .right-arrow span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day_calendar.arrows a {
    cursor: pointer;
}

.day_calendar.arrows .right-arrow {
    position: absolute;
    right: 0;
}

/* .play-button a {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(4px);
}

.play-button a:hover,
.play-button a:active {
    color: #fd8c23;
    border: 1px solid #fd8c23;
    box-shadow: 0px 0px 6px 4px #fd8c23;
} */

/* =========== */
.play-store-a:hover {
    /* filter: drop-shadow(0px 0px 6px 4px #fd8c23); */
    filter: drop-shadow(0px 4px 6px rgb(104, 104, 104));
}

.today_rasi_palan{
    font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
    text-align: center;
}

.date-day-wrapper{
    background-color: #f5f5f5;
}

.date-day-tamil-wrapper{
    background-color: #707070;
}