.footer-container {
    width: 100%;
    background: #fffffff3;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: 0px -4px 0.25rem rgba(0, 0, 0, 0.075);
}

.contact-icon {
    color: #2d3741;
}

.social-list li {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #f5f4f4;
    filter: drop-shadow(0px 2px 1.5px black);
}

.social-list li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff7e00;
}

.social-icon-item:hover,
.social-icon-item:active {
    background: var(--social-color);
    filter: drop-shadow(0px 4px 2px black);
}

.social-icon-item a:hover {
    color: #f5f4f4;
}

.reachout-list a {
    color: #6c757d;
}

.reachout-list a:hover,
.reachout-list a:active {
    color: #ff7e00;
    transition: color 0.1s ease-in;
}

.hide-para {
    display: flex !important;
}

@media(max-width:500px) {
    .hide-para {
        display: none !important;
    }
}

.rs-panel-title {
    color: #cecece !important;
    font-weight: bold;
}

.rs-panel-btn svg {
    color: white !important;
}

.rs-panel-btn:active,
.rs-panel-btn:focus,
.rs-panel-btn:hover {
    background-color: transparent !important;
}

.rs-panel-header {
    padding: unset !important;
}

.rs-panel-group>.rs-panel+.rs-panel:before {
    border-top: unset !important;
}


.experts {
    width: 100%;
    background: #f5f4f4;
    padding-bottom: 80px;
}


.border_line_contact,
.border_line_follow {
    border-left: 2px solid #74747493;
}

.border_line_follow {
    /* width: unset; */
}

@media (max-width:1200px) {
    .border_line_follow {
        width: 100%;
    }
}

@media (max-width:991px) {
    .border_line_follow {
        width: min-content;
    }
}

@media (max-width:538px) {
    .border_line_follow {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .border_line_follow {
        border-left: 0px solid #74747493;
        border-top: 2px solid #74747493;
        margin-top: 10px !important;
        padding-top: 10px !important;
    }

}

@media (max-width:991px) {
    .border_line_contact {
        border-left: 0px solid #74747493;
    }

    .border_line_follow {
        border-left: 2px solid #74747493;
        border-top: 0px solid #74747493;
    }
}

@media (max-width:538px) {
    .border_line_contact {
        border-top: 2px solid #74747493;
        border-left: 0px solid #74747493;
    }

    .border_line_follow {
        border-top: 2px solid #74747493;
        border-left: 0px solid #74747493;
    }
}

.border_line_about {
    border-bottom: 0px solid #74747493;
}

@media (max-width:991px) {
    .border_line_about {
        border-bottom: 2px solid #74747493;
    }
}

@media (max-width:538px) {
    .border_line_about {
        border-bottom: 0px solid #74747493;
    }
}

.terms_privacy a:hover {
    color: #ff7e00 !important;
    cursor: pointer;
}

.terms_privacy a:hover span svg {
    color: #ff7e00 !important;

}

.terms_privacy a.active {
    color: #e9830c;
}